node_modules/
.cache/
public

node_modules
.env
.env.*
coverage
coverage.json
typechain

#Hardhat files
cache
hardhat.config.ts
# including abis by avoiding the contracts folder
@openzeppelin
build-info
hardhat